body {
  background-color: #f3f4ed;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1{
  color:#66BFBF;

}
h3{
  color: #66BFBF;
}
